/* Style the tab buttons */
.tablinks {
  background-color: #555;
  color: rgb(0, 0, 0);
  float: left;
  border: 1 px solid;
  outline: none;
  cursor: pointer;
  padding: 10px 10px;
  font-size: 15px;
  width: 20%;
}

/* Change background color of buttons on hover */
.tablinks:hover {
  background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
  color: rgb(0, 0, 0);
  display: none;
  padding: 50px;
  text-align: center;
}

table, th, td {
  color: rgb(0, 0, 0);
  border: 1px solid;
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: grey;
}
